@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.w3-dark-grey,
.w3-hover-dark-grey:hover,
.w3-dark-gray,
.w3-hover-dark-gray:hover {
  color: #fff !important;
  background-color: #616161 !important;
}
.w3-ios-light-grey,
.w3-hover-light-grey:hover {
  color: #8b8b8b !important;
  background-color: #ffffff !important;
}
.w3-button-grey-blue {
  color: #5a87e9 !important;
  background-color: #e1e1e6 !important;
}
.w3-button-other {
  color: #5a87e9 !important;
  background-color: #ffffff !important;
}
.w3-button-inactive {
  color: #1a1b1d !important;
  background-color: #e1e1e6 !important;
}
.w3-button-blue{color:#FFFFFF!important;background-color:#5A87E9!important}
.w3-ios-light-grey {
  color: #8b8b8b !important;
  background-color: #ffffff !important;
}
