@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");
.w3-light-grey,
.w3-hover-light-grey:hover,
.w3-light-gray,
.w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #F1F1F7 !important;
}
.text-dark-grey {
  color: #83838D !important;
}
.w3-button-grey-blue-hover:hover {
  color: #5a87e9 !important;
  background-color: #fafafa !important;
}
.w3-button-grey-blue {
  color: #5a87e9 !important;
  background-color: #f1f1f7 !important;
}
.w3-button-blue {
  color: #ffffff !important;
  background-color: #5a87e9 !important;
}
.w3-button-blue-hover:hover {
  color: #ffffff !important;
  background-color: #5a87e9 !important;
}
.w3-margin-8 {
  margin: 8px !important;
}
.w3-margin-bottom-8 {
  margin-bottom: 8px !important;
}
.w3-margin-16 {
  margin: 16px !important;
}
.w3-margin-64 {
  margin: 64px !important;
}
@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 767px) {
  .hidden-terminal {
    display: none;
  }
}
