@page
@model IndexModel
@using Web.Models;
@using System.Linq;
@functions
{
    public object Generator()
    {
        DataBase Temp = new DataBase();
        int NM = Model.Tickets.Count;
        if (NM < 100 && NM >= 10)
        {
            Temp.Number = "C-0" + NM;
        }
        else if (NM < 10)
        {
            Temp.Number = "C-00" + NM;
        }
        else Temp.Number = "C-" + NM;
        Temp.Room = "2-666";
        TimeOnly CT = TimeOnly.FromDateTime(DateTime.Now);
        if (CT > (Model.Tickets[Model.Tickets.Count - 1].Time.AddMinutes(5)))
        {
            Temp.Time = CT;
        }
        else Temp.Time = CT.AddMinutes((Model.Tickets[Model.Tickets.Count - 1].Time.AddMinutes(5).Minute) - CT.Minute);
        Temp.Window = "4";
        Temp.Id = 1;
        Model.Tickets.Add(Temp);
        return null;
    }
}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>СУО ДГТУ: Интерфейс пользователя</title>
    <link rel="stylesheet" type="text/css" href="../css/w3pro.css" />
    <link rel="stylesheet" type="text/css" href="../css/additionals.css" />
    <!-- Flickity CSS -->
    <link rel="stylesheet" href="../flickity/flickity.min.css" />
    <!-- Flickity JavaScript -->
    <script src="../flickity/flickity.pkgd.min.js"></script>
    <style>
        .carousel {
            background: #ffffff;
        }

        .carousel-cell {
            width: 66%;
            height: 200px;
            margin-right: 10px;
            background: #8c8;
            border-radius: 5px;
            counter-increment: gallery-cell;
        }

            .carousel-cell:before {
                display: block;
                text-align: center;
                content: counter(gallery-cell);
                line-height: 100%;
                font-size: 0px;
                color: #5A87E9;
            }
    </style>
</head>
<body>
    <!-- start	 -->
    <div id="Start" class="tab">
        <!--mobile-->
        <div class="userspace-mobile hidden-terminal" style="height: 97.5vh; position: relative">
            <div class="w3-display-container w3-animate-left w3-margin" align="left">
                <img src="../img/icons/dstu.svg" alt="ДГТУ" class="w3-display-left" width="40" height="40" style="margin-right: 10px" />
                <h1 style="margin-left: 50px"><b>Приветстуем!</b></h1>
            </div>
            <div class="w3-container text-dark-grey" align="left">
                <h5>Выберите тип обращения, нажав на одну из кнопок ниже</h5>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom w3-display-bottommiddle hidden-terminal" style="width: 100%">
                <h2><b>Поступление</b></h2>
                <div class="carousel" data-flickity='{ "freeScroll": true, "pageDots": false, "prevNextButtons": false, "contain": true, "cellAlign": "left"}'>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Bachelor');" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/feather.svg" alt="Перо" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">Бакалавриат</h4>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/feather.svg" alt="Перо" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">Магистратура</h4>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/feather.svg" alt="Перо" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">СПО</h4>
                    </div>
                </div>
                <h2><b>Перевод и восстановление</b></h2>
                <div class="carousel" data-flickity='{ "freeScroll": true, "pageDots": false, "prevNextButtons": false, "contain": true, "cellAlign": "left"}'>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/shuffle.svg" alt="Стрелки" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">Перевод</h4>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/paperclip.svg" alt="Скрепы" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">МФЦ</h4>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/shuffle.svg" alt="Стрелки" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">ПФУ</h4>
                    </div>
                </div>
                <h2><b>Другие услуги</b></h2>
                <div class="carousel" data-flickity='{ "freeScroll": true, "pageDots": false, "prevNextButtons": false, "contain": true, "cellAlign": "left"}'>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/user.svg" alt="Человек" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">Консультация</h4>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/grid.svg" alt="КБ" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">Зелёный зал</h4>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue" onclick="openTab('Ticket')" style="width: 150px; height: 72px">
                        <img class="search-icon w3-margin-8" src="../img/icons/monitor.svg" alt="Монитор" width="24" height="24" /><br />
                        <h4 class="w3-bottom w3-margin-8">ПИШ</h4>
                    </div>
                </div>
            </div>
        </div>
        <!--terminal-->
        <div class="userspace-terminal hidden-mobile w3-margin-64" style="height: 97.5vh; position: relative">
            <div class="w3-display-container w3-animate-left w3-margin" align="left">
                <img src="../img/icons/dstu.svg" alt="ДГТУ" class="w3-display-left" width="40" height="40" style="margin-right: 10px" />
                <h1 style="margin-left: 50px"><b>Приветстуем!</b></h1>
            </div>
            <div class="w3-container text-dark-grey" align="left">
                <h5>Выберите тип обращения, нажав на одну из кнопок ниже</h5>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom w3-display-center hidden-mobile" style="width: 100%">
                <h2><b>Поступление</b></h2>
                <div class="carousel" data-flickity='{ "draggable": false, "pageDots": false, "prevNextButtons": false, "contain": true, "cellAlign": "center"}'>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Bachelor');" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/feather.svg" alt="Перо" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">Бакалавриат</h3>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/feather.svg" alt="Перо" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">Магистратура</h3>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/feather.svg" alt="Перо" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">СПО</h3>
                    </div>
                </div>
                <br />
                <br />
                <h2><b>Перевод и восстановление</b></h2>
                <div class="carousel" data-flickity='{ "draggable": false, "pageDots": false, "prevNextButtons": false, "contain": true, "cellAlign": "center"}'>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/shuffle.svg" alt="Стрелки" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">Перевод</h3>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/paperclip.svg" alt="Скрепы" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">МФЦ</h3>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/shuffle.svg" alt="Стрелки" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">ПФУ</h3>
                    </div>
                </div>
                <br />
                <br />
                <h2><b>Другие услуги</b></h2>
                <div class="carousel" data-flickity='{ "draggable": false, "pageDots": false, "prevNextButtons": false, "contain": true, "cellAlign": "center"}'>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/user.svg" alt="Человек" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">Консультация</h3>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/grid.svg" alt="КБ" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">Зелёный зал</h3>
                    </div>
                    <div class="carousel-cell w3-button-grey-blue w3-button-grey-blue-hover" onclick="openTab('Ticket')" style="width: 20vw; height: 10vh">
                        <img class="search-icon w3-margin-16" src="../img/icons/monitor.svg" alt="Монитор" width="24" height="24" /><br />
                        <h3 class="w3-bottom w3-margin-16">ПИШ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	bachelor	 -->
    <div id="Bachelor" class="tab" style="display: none">
        <div class="userspace-mobile hidden-terminal" style="height: 100vh; position: relative">
            <div class="w3-container w3-animate-left">
                <h1><b>Бакалавриат</b></h1>
            </div>
            <div class="w3-panel text-dark-grey w3-margin">
                <p>
                    <img src="../img/icons/search.svg" alt="ДГТУ" width="20" height="20" style="margin-right: 10px" />
                    Поиск по услугам...
                </p>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom w3-display-bottommiddle" style="width: 100%">
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Социально-гуманитарные науки
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Строительство, архитектура
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />IT-Технологии
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Агро, биотехнологии, транспорт
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Авиа и машиностроение
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Дизайн
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Start')">
                    <img class="search-icon" src="../img/icons/shuffle.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Назад
                </button>
            </div>
        </div>
        <div class="userspace-terminal hidden-mobile w3-margin-64" style="height: 85vh; position: relative">
            <div class="w3-container w3-animate-left">
                <h1><b>Бакалавриат</b></h1>
            </div>
            <div class="w3-panel text-dark-grey w3-margin">
                <p>
                    <img src="../img/icons/search.svg" alt="ДГТУ" width="20" height="20" style="margin-right: 10px" />
                    Поиск по услугам...
                </p>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom w3-display-bottommiddle" style="width: 100%">
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Социально-гуманитарные науки
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Строительство, архитектура
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />IT-Технологии
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Агро, биотехнологии, транспорт
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Авиа и машиностроение
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Ticket')">
                    <img class="search-icon" src="../img/icons/feather.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Дизайн
                </button>
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-block w3-round-xlarge w3-button-grey-blue-hover" name="button" onclick="openTab('Start')">
                    <img class="search-icon" src="../img/icons/shuffle.svg" alt="Перо" width="20" height="20" align="left" style="margin-right: 10px" />Назад
                </button>
            </div>
        </div>
    </div>
    <!--queue mobile-->
    <div id="Ticket" class="tab" style="display: none">
        <div class="userspace-mobile hidden-terminal w3-container w3-center" style="height: 95vh; position: relative">
            <div class="w3-container w3-animate-top" align="center">
                <h4><b>Вы записаны!</b></h4>
            </div>
            <div class="w3-container w3-animate-top" align="center">
                <h2><b>Ваш номер в очереди:</b></h2><br />
                <h1><b>W-001</b></h1><br />
            </div>
            <div class="w3-bar w3-margin-top" style="width: 80vw; height: 20vh">
                <div class="w3-bar-item w3-round w3-padding-8 w3-light-grey w3-block w3-round-large w3-left" style="width: 48%">Кабинет:<br /><b id="number">101</b></div>
                <div class="w3-bar-item w3-round w3-padding-8 w3-light-grey w3-block w3-round-large w3-right" style="width: 48%">Окно:<br /><b id="number">1</b></div>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom w3-display-bottommiddle" style="width: 100%">
                <button class="w3-button w3-padding-16 w3-button-grey-blue w3-margin-top w3-round-large w3-block" name="button" onclick="openTab('Start');">
                    <b>Отменить запись</b>
                </button>
                <button class="w3-button w3-padding-16 w3-button-blue w3-margin-top w3-round-large w3-block" name="button" onclick="openTab('Review');">
                    <b>Оценить</b>
                </button>
            </div>
        </div>
        <!--queue terminal-->
        <div class="userspace-terminal hidden-mobile w3-center w3-containter w3-margin-64" style="height: 90vh; position: relative">
            <div class="w3-container w3-animate-top" align="center">
                <h4><b>Вы записаны!</b></h4>
            </div>
            <div class="w3-container w3-animate-top" align="center">
                <h2><b>Ваш номер в очереди:@Generator()</b></h2><br />
                <h1><b>@Model.Tickets[Model.Tickets.Count-1].Number</b></h1><br />
            </div>
            <div class="w3-container" align="center">
                <div class="w3-bar w3-margin-top" style="width: 25vw">
                    <div class="w3-bar-item w3-round w3-padding-8 w3-light-grey w3-block w3-round-large w3-left" style="width: 48%">Кабинет:<br />@Model.Tickets[Model.Tickets.Count-1].Window</b></div>
                    <div class="w3-bar-item w3-round w3-padding-8 w3-light-grey w3-block w3-round-large w3-right" style="width: 48%">Окно:<br />@Model.Tickets[Model.Tickets.Count-1].Room</b></div>
                </div>
            </div>
            <div class="w3-container text-dark-grey" align="center">
                <h5 style="width: 25vw">Сфотографируйте это окно. А лучше наведите камеру Вашего смартфона на QR-код ниже — так вы сможете отслеживать свою очередь в реальном времени.</h5>
                <br />
                <button class="w3-button w3-padding-16 w3-button-blue w3-button-grey-blue-hover w3-round-large w3-block w3-margin-top w3-margin-bottom" style="width: 25%" name="button" onclick="openTab('Start');"><b>Следующий!</b></button>
            </div>
            <img src="../ticketQR.svg" alt="QR" width="360" height="360" />
        </div>
    </div>
    <!--review-->
    <div id="Review" class="tab" style="display: none">
        <div class="userspace w3-center" style="height: 100vh; position: relative">
            <div class="w3-container w3-animate-left" align="left">
                <h1><b>Отзыв</b></h1>
                Оцените, пожалуйста, качество нашего обслуживания. Это очень поможет нам в будущем!
            </div>
            <div class="w3-container w3-animate-left" align="left">
                <h2><b>Оценка</b></h2>
                На сколько мы вам помогли? <br />
            </div>
            <div class="w3-bar w3-margin-top" style="width:100%" align="center">
                <button class="w3-button w3-padding-8 w3-light-grey w3-round-large" style="width:30%"><h1>😊</h1></button>
                <button class="w3-button w3-padding-8 w3-light-grey w3-round-large" style="width:30%"><h1>😐</h1></button>
                <button class="w3-button w3-padding-8 w3-light-grey w3-round-large" style="width:30%"><h1>😣</h1></button>
            </div>
            <div class="w3-panel text-dark-grey w3-margin">
                <p style="padding-bottom: 25vh" align="left">Напишите свои предложения (необязательно)</p>
            </div>
            <div class="w3-container w3-margin-top w3-margin-bottom w3-display-bottommiddle" style="width: 100%">
                <button class="w3-button w3-padding-16 w3-button-blue w3-button-blue-hover w3-margin-top w3-round-large w3-block" name="button" onclick="openTab('Start');">
                    <b>Отправить отзыв</b>
                </button>
            </div>
        </div>
    </div>
    <script src="../js/tab_opener.js"></script>
</body>
</html>